body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	/*size: 8em;*/
}

section {
	padding: 0 200px;
}

.buttons{
	padding: 15px;
}

#back-btn{
	float: left;
	margin: 10px;
}

#next-btn{
	float: right;
	margin: 10px;
}

.form-control{
	width: 100%;
}

#welcome-btn{
	margin:1.5em;
}