<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger text-uppercase" href="#page-top">Employment</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#optModal">Full-time jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#cptModal">Internships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#oncampusModal">On-Campus Employment</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead text-black text-center">
      <div class="container" id="header-employment">
        <img class="img-fluid d-block mx-auto" src="img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Employment</h1>
        <hr class="star-light">
      </div>
    </header>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#optModal">
  Full-time jobs
</button>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cptModal">
  Internships
</button>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#oncampusModal">
  On-Campus Emplpoyment
</button>

    <!-- Modal -->
<div class="modal fade" id="optModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Full-time jobs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>As an <span class="highlight-text">F-1 student visa holder</span>, you are allowed and encouraged to seek out <span class="highlight-text">full-time employment</span> with any US-based company when <span class="highlight-text">you graduate.</span></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Internships</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>As an <span class="highlight-text">F-1 student visa holder</span>, you are allowed and encouraged to seek out <span class="highlight-text">internships</span> with any US-based company while <span class="highlight-text">you are in school.</span></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="oncampusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Internships</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>As an <span class="highlight-text">F-1 student visa holder</span>, you are allowed and encouraged to seek out <span class="highlight-text">on-campus employment</span> while <span class="highlight-text">you are in school.</span></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
