<h1>{{title}}</h1>
<p>{{question}}</p>
<section><select class="form-control form-control-sm ">
  {{#each options}}
    <option value='{{this}}'>{{this}}</option>
  {{/each}}
</select>
<div class="buttons">
<a href="/" class="btn btn-secondary active" role="button" id="back-btn">Back</a>
<a href="/year" class="btn btn-primary active" role="button" id="next-btn">Next</a>
</div>
</section>