
<h2>Welcome to {{title }}</h2>
<p>Where are you from?</p>
<div><select class="form-control gds-cr gds-countryflag" country-data-region-id="gds-cr-1"></select></div>
<div><a href="/year" class="btn btn-primary active" role="button">Next</a></div>