
<h2>Welcome to {{title }}</h2>
<p>{{question}}</p>
<section>
<div>
<select class="form-control form-control-sm gds-cr" country-data-region-id="gds-cr-1"></select>
</div>
<div>
<a href="/year" class="btn btn-primary active" role="button" id="welcome-btn">Next</a>
</div>
</section>